@import url(https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap%27);
body{
    font-family: Ropa Sans;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.menu{
    display: flex;
    width: 697px;
    justify-content: space-between;
    box-shadow: 0px 2px 10px  #777777;
}

.menu_logo{
    display: flex;
    font-size: 24px;
    color:#AAAAAA
}

.menu_logo h1{
    font-size: 30px;
    margin-left: 44px;
    margin-top: 8px;
    margin-bottom: 16px;
}
.frase{
    font-size: 10px;
    margin-top: 13px;
    margin-bottom: 14px;
}

.menu_img{
    margin-right: 31px;
    margin-top: 18px;
    margin-bottom: 19px;
}

.back{
    background-image:url("./images/Rectangle 3.png");
    margin-left: 44px;
    margin-top: 110x;
    width: 608px;
    height: 259px;
}

#b1{
    margin-left: 12px;
    margin-top: 110px;
    margin-bottom: 110px;
}

#b2{
    margin-left: 506px;
    margin-top: 110px;
    margin-bottom: 110px;
}
.section1{
    margin-top: 20px;
}

.section2{
    display: flex;
    justify-content: space-between;
}

.left{
    position: relative;
    margin-top: 37px;
    margin-left: 44px;
}

.valornew{
    display: flex;
    justify-content: space-between;
}

.txt{
    width: 231px;
    height: 44px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    text-align: justify;
    color: #555555;
    margin-left: 12px;
}

.valor{
    width: 86px;
    height: 33px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    color: #888888;
    margin-left: 12px;
    margin-top: 9px;
}

.new{
    width: 56px;
    height: 21px;
    background: #51D275;
    color: rgb(255, 255, 255);
    border-radius: 10.5px;
    width: 48px;
    height: 19px;  
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    margin-top: 9px;

}.neo{
    width: 56px;
    height: 21px;
    background: #DC9730;
    color: rgb(255, 255, 255);
    border-radius: 10.5px;
    width: 48px;
    height: 19px;  
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    margin-top: 9px;
}

.txt2{
    width: 231px;
    height: 44px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    text-align: justify;
    color: #555555;
    margin-left: 12px;
}

.valornow{
    display: flex;
    justify-content: space-between;
}

.right{
    position: relative;
    margin-top: 37px;
    margin-right: 45px;
}

.preco{
    width: 86px;
    height: 33px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    color: #888888;
    margin-left: 12px;
    margin-top: 9px;
}

#style{
    background: #FFFFFF;
    width: 266px;
    height: 33px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    color: #888888;
    margin-top: 15px;
    align-items: center;
    margin-left: 304px;
}


.fot1{
    width: 608px;
    height: 80px;
    margin-left: 44px;
    margin-top: 13px;
}

.fot2{
    width: 608px;
    height: 80px;
    margin-left: 44px;
    margin-top: 13px;
}

.fot3{
    width: 608px;
    height: 80px;
    margin-left: 44px;
    margin-top: 13px;
}

.master{
    display: flex;
    justify-content: space-between;
    width: 697px;
    height: 243px;
    background: #333333;
    margin-top: 57px;   
}

.master{
    display: flex;
    justify-content: space-between;
    width: 697px;
    height: 243px;
    background: #333333;
    margin-top: 57px;   
}

.esq{
    margin-top: 40px; 
    margin-left: 48px; 
    cursor:pointer;
}
.up{
    width: 175px;
    height: 95px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: justify;
    color: #FFFFFF;
    margin-top: 40px;
    margin-right: 45px;
}

.second{
    margin-top: 12px;
}

.third{
    margin-top: 12px;
}

.for{
    margin-top: 12px;
}

.down{
    margin-top: 9px;
}

.prim{
    color: #FFFFFF;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
}

.fts{
    display: flex;
    justify-content: space-between;
    width: 98px;
    height: 24px;
}